@media (max-width: 430px) {
  nav img {
    height: 50px;
    width: 50px;
  }

  nav h1 {
    font-size: 22px;
  }

  main .top_main h5 {
    font-size: 11px;
  }

  main {
    height: 900vh;
  }

  main .top_main {
    justify-content: center;
    height: 30vh;
  }
  main .top_main h3 {
    font-size: 1.5em;
  }

  main .top_main p {
    font-size: 13px;
    text-align: center;
    width: 85%;
    font-family: "Arya", sans-serif;
    margin: 0 0 5px 0;
  }

  main .question_set1 {
    height: 200vh;
  }

  .question_set1 .question_set1_top {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .question_set1_top .left:first-child {
    width: 90%;
    height: 75vh;
  }

  .question_set1_top .right:last-child {
    height: 50vh;
    width: 90%;
    background-size: 100% 50vh;
  }

  main .question_set1 .question_set1_bottom {
    height: 80vh;
    flex-direction: column;
    align-items: center;
  }

  .question_set1_bottom .left:first-child {
    height: 50%;
    width: 90%;
    background-size: 100% 100%;
    order: 2;
  }

  .question_set1_bottom .right:last-child {
    height: 50vh;
    width: 90%;
  }
  main .images {
    height: 300vh;
    width: 100%;
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
}
